// @import 'react-big-calendar/lib/sass/styles';

@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins/mixins" as *;

.profile {
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-inline: 1rem;

    &__top-container {
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    &__title {
        @include handleFont(2.5rem, .25rem, 300);
        color: $navy;
        padding-bottom: 2.5rem;
        padding-left: 1rem;
        padding-top: 1rem;
    }

    &__noti {
        // background-color: lavender;
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;

        &-title {
            @include handleFont(1.25rem, 2.25rem, 300);
            align-self: flex-start;
            
        }
        
        &-text {
            @include handleFont(.75rem, 1rem, 300);
            padding-bottom: .5rem
        }

        &-list {
            border: 1px solid $light-salmon;
            border-radius: 5px;
            padding: 0.5rem;
            height: 5rem;
            width: 18.125rem;
            overflow: scroll;
        }
    }
}

.rbc-toolbar-label {
    @include handleFont(1.5rem, 2rem, 300);
}