// @import 'react-big-calendar/lib/sass/styles';

@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins/mixins" as *;

.profile {
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-inline: 1rem;

    &__title {
        @include handleFont(2.5rem, .25rem, 300);
        color: $navy;
        padding-bottom: 2.5rem;
        padding-left: 1rem;
        padding-top: 1rem;
    }
}
.rbc-toolbar-label{
    @include handleFont(1.5rem,2rem,300);
}