@use "../../styles/partials/mixins/mixins" as *;
@use "../../styles/partials/colors" as *;


.modal {

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        background-color: #00575d;
        padding: 1.5rem;


        &--overlay {
            position: fixed;
            width: 90%;
            height: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 11;
            background-color: $salmon;
            color: $white;
            opacity: .9;
            display: flex;
            justify-content: center;
            align-items: center;
           
          }
    }

    &__title {
        @include handleFont(1.75rem, 2.25rem, 600);
    }

    &__text {
        @include handleFont(.9375rem, 1.625rem, 400)
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }

    &__button-container {
        display: flex;
        justify-content: space-between;
        gap: 1rem;


    }
}