@use "../../styles/partials/mixins/mixins" as *;
@use "../../styles/partials/colors" as *;


.modal {

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        background-color: #00575d;
        padding: 1.5rem;
        border-radius: 4px;


        &--overlay {
            position: fixed;
            width: 90%;
            height: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 11;
            background-color: $light-salmon;
            color: $white;
            opacity: .9;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }

    &__title {
        @include handleFont(1.75rem, 2.25rem, 600);
        color: $white;
        padding-bottom: 1rem;

        &--available {
            padding-top: .5rem;
        }
    }

    &__text {
        @include handleFont(.9375rem, 1.625rem, 400);
        color: $white;

    }

    &__text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // padding-bottom: 1rem;
    }

    &__button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
padding-top: 1rem;

    }

    &__icon {
        width: 1rem;
        align-self: right;

        &:hover {
            cursor: pointer;
        }

        &-container {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__message {
        &-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 1rem;
        }

        &--posted {
            color: $salmon;
            padding-bottom: .5rem;
        }
    }
}

.button {
    border-radius: 1.25rem;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 1.25rem;
    padding-inline: 1rem;

    &:hover {
        cursor: pointer;
        background-color: $light-salmon;
        border: 2px solid $salmon;
    }
}