@use "../../styles/partials/colors" as *;


.header {
    background-color: $teal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    padding-block: 2rem;
    height: 3rem;

&__logo{
    height: 3.5rem;
    align-items: center;
}
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
    }

    &__logout {
        height: 1.75rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__person {
        color: $white;
    }
}